*{
  padding: 0;
  margin: 0;
}
.button{
  width: 147px;
  height: 59px;
  background-color: rgb(153, 94, 247);
  color: beige;
  border-radius: 3px;
  border-color: #177a7a;

}
.container{ 
  text-align: center;
}